<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap" rel="stylesheet">
    <title>Memo Drive - sign in</title>
  </head>
  <body>
    <h1>Log in</h1>
    <form action="/auth/login" method="POST">
      <label for="username">Username</label>
      <input type="text" name="username" id="username" />
      <label for="password">Password</label>
      <input type="password" name="password" id="password" />
      <button type="submit">Log in</button>
     <p>Don't have an account ? <span><a class="signup-link" href="/auth/signup">Signup</a></span></p>
    </form>
     <div>
      <% if(locals.errors.length !== 0) { %>
      <ul class="errors">
      <% locals.errors.forEach(error => { %>
        <li class="error"> <%= error %></li>
      <% }) %> 
      </ul>
      <% } %>
    </div>
  </body>
</html>
