<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/newfolder.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap"
      rel="stylesheet"
    />
    <title>Memo Drive - New Folder</title>
  </head>
  <body>
    <h1 class="newfolder-section-title">New Folder</h1>
    <form class="newfolder-form" action="/dashboard/newFolder" method="post">
      <label for="name">Folder Name:</label>
      <input type="text" name="name" id="name" required />
      <button type="submit">Create</button>
    </form>
  </body>
</html>
