html {
  height: 100%;
  --header-background: rgba(134, 134, 240, 0.568);
  --nav-border-bottom-color: rgb(107, 107, 194);
  --header-title-shadow-color: rgb(41, 41, 203);
  --description-color: rgb(48, 48, 48);
}

body {
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  font-family: "Google Sans Flex", sans-serif;
}

header {
  background-color: var(--header-background);
  backdrop-filter: blur(10px);
}
nav {
  display: flex;
  align-items: center;
  padding: 5px 24px;
  border-bottom: solid 5px var(--nav-border-bottom-color);
}
nav > ul {
  display: flex;
  flex-grow: 1;
  gap: 0px 24px;
  justify-content: flex-end;
  list-style-type: none;
}

nav > h1 {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 30px;
  color: white;
  text-shadow: 1px 1px 1px rgb(41, 41, 203);
  margin: 0;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.nav-link:hover {
  border-bottom: 3px solid white;
}

main {
  padding: 64px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-title {
  font-size: 48px;
  background-image: linear-gradient(90deg, rgb(47, 47, 196), rgb(196, 92, 224));
  color: transparent;
  background-clip: text;
  margin-bottom: 0px;
}

.description {
  color: var(--description-color);
}
/*  rest of links */
.main-links-container {
  display: flex;
  border: 2px solid rgb(155, 152, 152);
  border-radius: 20px;
  margin: 30px 0px;
}

.main-links-container > a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  text-decoration: none;
  inset: 0;
  padding: 10px;
  color: rgb(61, 61, 61);
}

.main-links-container > a:first-of-type {
  border-right: 2px solid rgb(155, 152, 152);
}

.gradient-background {
  position: absolute;
  inset: 0;
  background-color: hsla(195, 66%, 66%, 1);
  background-image:
    radial-gradient(at 62% 8%, hsla(160, 100%, 96%, 1) 0px, transparent 50%),
    radial-gradient(at 22% 39%, hsla(189, 100%, 56%, 1) 0px, transparent 50%),
    radial-gradient(at 9% 23%, hsla(256, 100%, 32%, 1) 0px, transparent 50%),
    radial-gradient(at 80% 50%, hsla(193, 100%, 93%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 98%, hsla(289, 100%, 81%, 1) 0px, transparent 50%),
    radial-gradient(at 80% 100%, hsla(242, 100%, 70%, 1) 0px, transparent 50%);
  z-index: -10;
  opacity: 0.3;
}
