<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/crud.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap"
      rel="stylesheet"
    />
    <title>Memo Drive - Delete Folder</title>
  </head>
  <body>
    <h1 class="deletefolder-section-title">
      Are You Sure you want to delete <%= folder.name %> folder and all its
      contents ?
    </h1>
    <form
      class="deletefolder-form"
      action="/dashboard/delete/folder/<%= folder.id %>"
      method="post"
    >
      <p class="deletion-warning">This action cannot be undone</p>
      <button type="submit">Delete</button>
      <a class="cancel-button" href="/dashboard/folders">Cancel</a>
    </form>
  </body>
</html>
